<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="path" value="D:\projects\XXXX\"/>
		<add key="host" value="xxxxx.blob.core.windows.net"/>
		<add key="port" value="22"/>
		<!--<add key="path" value="road365devstorageaccount.ket24"/>-->
		<add key="password" value="rd/E+AidXkVllavRb"/>
		<add key="username" value="user.ket4"/>
	</appSettings>
</configuration>